.main {
  width: 40%;
  position: absolute;
  min-width: 30%;
  top: 6%;
  left: 30%;
  background-color: burlywood;
  padding: 2%;
  border-radius: 5px;
}
.todoCard {
  margin: 5px;
  background-color: cadetblue;
  position: relative;
  width: auto;
  padding: 1.2%;
  border-radius: 4px;
}
.danger {
  right: 0%;
  position: absolute;
  bottom: 8%;
}
.inputField {
  border-radius: 4px;
  border-color: cyan;
}
body {
  background-color: linear-gradient(
    92.84deg,
    rgba(208, 65, 65, 0.79) 3.44%,
    rgba(146, 39, 122, 0.85) 96.35%
  );
}
